body {
	background-color: #222;
	display: grid;
	min-height: 100dvh;
	overflow: hidden;
	max-width: 100dvw;
}

#app {
	overflow: hidden;
}

#game {
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}
